{% extends "base.html" %} {% block content %}
<h1>Clients</h1>

    {% for client in clients %}

    <h2>{{ client.first }} {{ client.last }}</h2>
<ul>
    <li>Birthdate: {{ client.birthdate }}</li>
    <li>Street 1: {{ client.street1 }}</li>
    <li>Street 2: {{ client.street2 }}</li>
    <li>City: {{ client.city }}</li>
    <li>State: {{ client.state }}</li>
    <li>Zip: {{ client.zip }}</li>
    <li>Phone: {{ client.phone }}</li>
    <li>Email: {{ client.email }}</li>
    <li>Vaccinated: {{ client.vaccinated }}</li>
    <li>Photo Preference: {{ client.photo_preference }}</li>
    <li>Emergency Contact 1: {{ client.emergency_contact1 }}</li>
    <li>Emergency Phone 1: {{ client.emergency_phone1 }}</li>
    <li>Emergency Contact 2: {{ client.emergency_contact2 }}</li>
    <li>Emergency Phone 2: {{ client.emergency_phone2 }}</li>
    <li>EMT Pertinent Info: {{ client.emt_info }}</li>
</ul>
    {% endfor %}
{% endblock %}