{% extends "base.html" %} {% block content %}

<div class="welcome">
    <h1 style = "color:#E09789; font-size: 1500%; font-family: Lobster; text-align:center;">Hello</h1>
    <p style = "color:#D07567; font-size: 300%; font-family: Merriweather Sans; text-align:center;">Please enter your name:</p>
    <input id="name" type="text" class="search" name="client" />
</div>

<div class="greeting">
    <p style = "color:#D07567; font-size: 400%; font-family: Lobster; text-align:center;">Hi, <span id="first-name"></span>!</p>
    <p style = "color:#D07567; font-size: 200%; font-family: Merriweather Sans; text-align:center;">Which class are you taking today?</p>
</div>

{% for course in courses %}
<div class="class-list">
    <button type="button" class="btn btn-default btn-lg class-btn" data-courseid="{{course.id}}">
        <h2 style = "color:#6d3933; font-size: 200%; font-family: Merriweather Sans; text-align:center;">{{course.name}}</h2>
        <h3 style = "color:#6d3933; font-size: 200%; font-family: Roboto; text-align:center;">{{course.instructor}}</h3>
    </button>
</div>
{% endfor %}

<form method="post" action="{% url 'Process Sign In' %}">
    {% csrf_token %}
    <input id="clientid" type="hidden" name="client" />
    <input id="courseid" type="hidden" name="course" />
    <div class="sign-me-in">
        <button type="submit" class="btn btn-primary btn-lg sign-in-btn">
            Sign Me In!
        </button>
    </div>
    <div class="start-over">
        <a class="btn btn-lg btn-link cancel-btn" href=" {% url 'Sign-ins' %}">Start Over</a>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
<script>
    $( function () {

        let names = [
            {% for client in clients %}
             {
                "label": "{{client.first}} {{client.last}}",
                "value": { id: {{client.id}}, first: "{{client.first}}", last: "{{client.last}}" }
             }, {% endfor %}
        ];
        $( '.welcome' ).addClass( 'active' );
        $( ".search" ).autocomplete({
            source: names,
            select: function ( event, ui ) {
                event.preventDefault();
                $( '.search' ).val( ui.item.label );
                $( '#first-name' ).html( ui.item.value.first );
                $( '.class-list, .greeting' ).addClass( 'active' );
                $( '.welcome' ).removeClass( 'active' );
                $( '#clientid' ).val( ui.item.value.id );
            },
            focus: function ( event, ui ) {
                event.preventDefault();
                $( '.search' ).val( ui.item.label );
            }
        });

        $( ".class-btn" ).on( 'click', function () {

            $( '.class-btn.selected' ).removeClass( 'selected' );
            $( this ).addClass( 'selected' );

            $( '.sign-in-btn, .cancel-btn' ).addClass( 'active' );
            $( '#courseid' ).val( $( this ).data( 'courseid' ) );
        });
    });
</script>

{% endblock %}
